{% extends 'oierspace/blog/themes/pc/theme_argon/base.html' %}
{% block title %}{{ post.title }} - {{ blog.name }}{% endblock %}
{% block head %}
{% include 'oierspace/blog/themes/pc/markdown_latex_import.html' %}
{% endblock %}
{% block content %}
<article class="post post-full card bg-white shadow-sm border-0">
    {% if post.configs.cover %}
    <header class="post-header text-center post-header-with-thumbnail">
        <img class="post-thumbnail lazyload lazyload-loaded" src="{{ post.configs.cover }}" alt="thumbnail"
            style="opacity: 0;">
        <div class="post-header-text-container">
            <a class="post-title" href="{% url 'blog_post' post.slug %}">{{ post.title }}</a>
            {% include 'oierspace/blog/themes/pc/theme_argon/component/post_meta.html' %}
        </div>
    </header>
    {% else %}
    <header class="post-header text-center">
        <a class="post-title" href="{% url 'blog_post' post.slug %}">{{ post.title }}</a>
        {% include 'oierspace/blog/themes/pc/theme_argon/component/post_meta.html' %}
    </header>
    {% endif %}
    <div class="post-content" id="post_content">
        <div id="post_content_md" class="markdown"></div>
        <script>
            document.getElementById('post_content_md').innerHTML = markdownit({html:true}).use(
                texmath,
                {
                    engine: katex,
                    delimiters: 'dollars',
                }
            ).render("{{ post.content|escapejs }}");
            hljs.highlightAll();
        </script>
        {% include 'oierspace/blog/themes/pc/theme_argon/component/markdown_css_important.html' %}
    </div>
    <div class="mt-2">
        最后编辑于 {{ post.last_edit_time }}
        {% if post.wbh_voted_up %}
        <span class="badge bg-secondary text-dark align-bottom"><i class="fas fa-thumbs-up"></i> 站长赞了</span>
        {% endif %}
        <br>
        <div id="vote" class="mt-1">
            {% if user_vote == 1 %}
            <a href="?vote=cancel"><i class="fas fa-thumbs-up"></i></a>
            {% else %}
            <a href="?vote=up"><i class="far fa-thumbs-up"></i></a>
            {% endif %}
            &ensp;{{ post.vote }}&ensp;
            {% if user_vote == -1 %}
            <a href="?vote=cancel"><i class="fas fa-thumbs-down"></i></a>
            {% else %}
            <a href="?vote=down"><i class="far fa-thumbs-down"></i></a>
            {% endif %}
        </div>
    </div>
</article>
{% if comments %}
<div id="comments" class="comments-area card shadow-sm">
    <div class="card-body">
        <ol class="comment-list">
            {% for comment in comments %}
            <li class="comment-item" id="comment-{{ comment.pk }}">
                <div class="comment-item-inner w-100" id="comment-inner-{{ comment.pk }}">
                    <div class="comment-item-title">
                        <div class="comment-name">
                            <div class="comment-author">
                                {{ comment.username_display }}
                                {% if comment.blogger_voted_up %}
                                <span class="badge bg-secondary text-dark align-bottom"><i class="fas fa-thumbs-up"></i> 博主赞了</span>
                                {% endif %}
                                {% if comment.wbh_voted_up %}
                                <span class="badge bg-secondary text-dark align-bottom"><i class="fas fa-thumbs-up"></i> 站长赞了</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="comment-info">
                            <div class="comment-time">
                                {% if comment.user == user or blog.owner == user %}
                                <a href="?delete={{ comment.pk }}">删除</a>
                                {% endif %}
                                &ensp;
                                {% if comment.user_vote == 1 %}
                                <a href="?vote=cancel&vote_target={{ comment.pk }}"><i class="fas fa-thumbs-up"></i></a>
                                {% else %}
                                <a href="?vote=up&vote_target={{ comment.pk }}"><i class="far fa-thumbs-up"></i></a>
                                {% endif %}
                                &thinsp;{{ comment.vote }}&thinsp;
                                {% if comment.user_vote == -1 %}
                                <a href="?vote=cancel&vote_target={{ comment.pk }}"><i class="fas fa-thumbs-down"></i></a>
                                {% else %}
                                <a href="?vote=down&vote_target={{ comment.pk }}"><i class="far fa-thumbs-down"></i></a>
                                {% endif %}
                                &ensp;
                                <span class="human-time">{{ comment.sending_time }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="comment-item-text">
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endif %}
<div id="post_comment" class="card shadow-sm">
    <div class="card-body">
        {% if user.is_authenticated %}
        <form method="post" action="#comments">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <textarea id="post_comment_content" class="form-control form-control-alternative" placeholder="评论"
                        name="comment" style="height: 80px;"></textarea>
                </div>
            </div>
            <div class="row" style="margin-top: 5px; margin-bottom: 10px;">
                <div class="col-md-12">
                    <button id="post_comment_send" class="btn btn-icon btn-primary comment-btn pull-right mr-0 w-100" type="submit">
						<span class="btn-inner--icon hide-on-comment-editing"><i class="fa fa-send"></i></span>
						<span class="btn-inner--text hide-on-comment-editing" style="margin-right: 0;">发送</span>
					</button>
                </div>
            </div>
        </form>
        {% else %}
        <div class="row" style="margin-top: 5px; margin-bottom: 10px;">
            <div class="col-md-12">
                <a id="post_comment_send" class="btn btn-icon btn-primary comment-btn pull-right mr-0 w-100"
                    href="https://oier.space/luogulogin/?r={{ blog.domain }}&loc=post/{{ post.slug }}">
                    登录以发送评论
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}