<style type="text/css" id="wp-custom-css">
    @media (max-width: 900px) {
        .navbar-nav:not(#navbar_search_btn_mobile)>.nav-item i:not(.d-lg-none) {
            margin-right: 8px;
            text-align: center;
            width: 14px;
        }
    }


    @font-face {
        font-family: 'Hack';
        font-display: swap;
        src: url('//cdn.jsdelivr.net/font-hack/2.020/fonts/woff2/hack-regular-webfont.woff2?v=2.020') format('woff2'), url('//cdn.jsdelivr.net/font-hack/2.020/fonts/woff/hack-regular-webfont.woff?v=2.020') format('woff');
        font-weight: 400;
        font-style: normal;
    }

    .hljs-codeblock,
    code[hljs-codeblock-inner] {
        font-family: Hack, consolas, sans-serif, monospace !important;
    }

    @keyframes faq-anim {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    
    .btn {
        overflow: hidden;
    }
</style>